version: "3.8"

x-airflow-common: &airflow-common
  image: apache/airflow:2.10.1
  environment: &airflow-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__CORE__FERNET_KEY: "Pjs4zR5iEyF_y71d0UxHl2PT-oYq9xvWehflqSZ_l7U="
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
    AIRFLOW__CORE__DAG_CONCURRENCY: "8"
    AIRFLOW__WEBSERVER__RBAC: "true"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS: "false"
    _PIP_ADDITIONAL_REQUIREMENTS: "apache-airflow-providers-google"
    GOOGLE_APPLICATION_CREDENTIALS: /keys/gcp-key.json
    # AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT: >-
    #   google-cloud-platform://?extra__google_cloud_platform__key_path=/keys/gcp-key.json
    #   &extra__google_cloud_platform__project=gopro-data-project
    #   &extra__google_cloud_platform__scope=https://www.googleapis.com/auth/cloud-platform
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./config:/opt/airflow/config
    - ./gcp-key.json:/keys/gcp-key.json:ro
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

  airflow-init:
    <<: *airflow-common
    command: bash -c "airflow db migrate && airflow users create \
      --username admin \
      --firstname Admin \
      --lastname User \
      --role Admin \
      --email admin@example.com \
      --password admin"

volumes:
  postgres-data:
