name: Deploy DAGs to Airflow
on:
  push:
    paths:
      - "composer_environment/dags/**"
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          export_default_credentials: true

      - name: Get DAG prefix
        id: get-dag-prefix
        run: |
          echo "DAG_PREFIX=$(gcloud composer environments describe $ENV  --location $REGION \
            --format='value(config.dagGcsPrefix)')" >> $GITHUB_OUTPUT
        env:
          ENV: ${{ secrets.COMPOSER_ENVIRONMENT }}
          REGION: ${{ secrets.COMPOSER_REGION }}

      - name: Sync DAGs
        run: gsutil -m rsync -r ./composer_environment/dags "${{ steps.get-dag-prefix.outputs.DAG_PREFIX }}"
